<h1>IEEE Member Search</h1>
<div class="container-fluid text-center">

  <!-- Shows list of logs -->
  <table class="table table-striped" [mfData]="allMembers" #mf="mfDataTable" [mfRowsOnPage]="10">
    <thead>
      <tr>
        <th scope="col-md-4">Member Name</th>
        <th scope="col-md-1">Email</th>
        <th scope="col-md-5">IEEE Number</th>
        <th scope="col-md-2">Expiration Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input #filter1 name ="filter1" type="text" [(ngModel)] = 'name'></td>
        <td><input #filter2 name ="filter2" type="text" [(ngModel)] = 'mail'></td>
        <td><input #filter3 name ="filter4" type="text" [(ngModel)] = 'membernum'></td>
        <td><input #filter4 name ="filter4" type="text" [(ngModel)] = 'expdate'></td>
      </tr>
      <ng-container *ngIf="!name && !mail && !membernum && !expdate; else all">
        <tr *ngFor = "let member of mf.data | memberFilter: name: mail: membernum: expdate;">
          <td>{{ member.displayName }}</td>
          <td>{{ member.mail }}</td>
          <td>{{ member.ieeeMemberNumber }}</td>
          <td>{{ member.ieeeExpiration }}</td>
        </tr>
      </ng-container>
      <ng-template #all>
        <tr *ngFor = "let member of allMembers | memberFilter: name: mail: membernum: expdate;">
          <td>{{ member.displayName }}</td>
          <td>{{ member.mail }}</td>
          <td>{{ member.ieeeMemberNumber }}</td>
          <td>{{ member.ieeeExpiration }}</td>
        </tr>
      </ng-template>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>